<h1>Data Investigation - PT GEM

by Vicky Tanamal

In [75]:
# Import library

import pandas as pd

In [10]:
# Load dataset

df1 = pd.read_excel("Case Study Dataset.xlsx", sheet_name='Stock In (Purchase Order)')
df2 = pd.read_excel("Case Study Dataset.xlsx", sheet_name='Stock Out (Used Sparepart)')

In [11]:
# Check dimension of data

df1.shape, df2.shape

((1739, 8), (5245, 8))

In [13]:
# Check null values Stock in

df1.isnull().sum()

Date                  0
Transaction Number    0
Product Code          0
Product Name          0
Quantity              0
Unit                  0
Unit Price            0
Vendor ID             0
dtype: int64

In [15]:
# Check null values Stock out

df2.isnull().sum()

date                  0
reference             0
license_plate         0
driver                0
internal_reference    0
used_qty              0
uom                   0
account               0
dtype: int64

In [19]:
# Merge dataframes based on different column names

merged_df = pd.merge(df2, df1, left_on='internal_reference', right_on='Product Code', how='left')

In [20]:
# Check merged dataset

merged_df.head()

,date,reference,license_plate,driver,internal_reference,used_qty,uom,account,Date,Transaction Number,Product Code,Product Name,Quantity,Unit,Unit Price,Vendor ID
0,2022-01-03,SO-2201-005,B9196UEX,Debi,LQ-003,1.0,Bottle,Biaya Perbaikan di Pool,2022-01-04,H-07558,LQ-003,Air Radiator Merah,4.0,Bottle,"Rp 40,000.00",VEN-002
1,2022-01-03,SO-2201-005,B9196UEX,Debi,LQ-003,1.0,Bottle,Biaya Perbaikan di Pool,2022-01-12,H-07587,LQ-003,Air Radiator Merah,80.0,Bottle,"Rp 29,000.00",VEN-043
2,2022-01-03,SO-2201-005,B9196UEX,Debi,LQ-003,1.0,Bottle,Biaya Perbaikan di Pool,2022-09-21,PO-2209-30,LQ-003,Air Radiator Merah,108.0,Bottle,"Rp 24,407.00",VEN-1300
3,2022-01-03,SO-2201-001,B9620UEU,Ian,BN-022,3.0,Pieces,Biaya Perbaikan di Pool,2022-01-04,H-07557,BN-022,Baut Roda Belakang L - FL235TI,10.0,Pieces,"Rp 45,000.00",VEN-003
4,2022-01-03,SO-2201-001,B9620UEU,Ian,BN-022,3.0,Pieces,Biaya Perbaikan di Pool,2022-01-25,H-08172,BN-022,Baut Roda Belakang L - FL235TI,6.0,Pieces,"Rp 45,000.00",VEN-098

In [39]:
# Check missing values

merged_df.isnull().sum()

date                    0
reference               0
license_plate           0
driver                  0
internal_reference      0
used_qty                0
uom                     0
account                 0
Date                  146
Transaction Number    146
Product Code          146
Product Name          146
Quantity              146
Unit                  146
Unit Price            146
Vendor ID             146
dtype: int64

In [41]:
df_missing = merged_df.loc[merged_df['Product Name'].isnull()]
df_missing

,date,reference,license_plate,driver,internal_reference,used_qty,uom,account,Date,Transaction Number,Product Code,Product Name,Quantity,Unit,Unit Price,Vendor ID
152,2022-01-04,SO-2201-009,B9848UEV,Heri J,OT-001,2.0,Pieces,Biaya Lain - Lain,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,2022-01-06,SO-2201-019,B9619UEU,Nanang K,OT-001,2.0,Pieces,Biaya Lain - Lain,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
721,2022-01-11,SO-2201-037,B9847UEV,Dodi,AC-007,1.0,Pieces,Biaya Perbaikan di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722,2022-01-11,SO-2201-037,B9847UEV,Dodi,AC-006,1.0,Pieces,Biaya Perbaikan di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
725,2022-01-11,SO-2201-037,B9847UEV,Dodi,LQ-004,3.0,Liter,Biaya Pemakaian Mekanik di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40369,2023-03-18,WH/INT/00377,B9849UEV,[Mekanik] Handoyo,NP-003,2.0,Pieces,Biaya Perbaikan di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41110,2023-03-30,WH/INT/00435,B9683UEU,[Mekanik] Ito,KB-058,1.0,Pieces,Biaya Perbaikan di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41183,2023-03-31,WH/INT/00440,B9847UEV,[Mekanik] Handoyo,LQ-007,12.0,Liter,Biaya Perbaikan di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41184,2023-03-31,WH/INT/00440,B9847UEV,[Mekanik] Handoyo,LQ-008,10.0,Liter,Biaya Perbaikan di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41212,2023-03-31,WH/INT/00439,B9980UEU,[Mekanik] Ito,SK-015,1.0,Pieces,Biaya Perbaikan di Pool,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
# Sum of missing values

df_missing['internal_reference'].nunique()

46

In [70]:
# List of missing values

df_missing['internal_reference'].unique()

array(['OT-001', 'AC-007', 'AC-006', 'LQ-004', 'SL-007', 'NP-003',
       'FL-008', 'LM-005', 'KB-033', 'NP-007', 'PR-054', 'BX-007',
       'LM-004', 'LQ-007', 'BN-018', 'BN-019', 'AC-020', 'KB-059',
       'SK-015', 'RM-031', 'SK-016', 'LQ-008', 'BN-024', 'AC-031',
       'BN-026', 'BX-008', 'MS-071', 'MS-072', 'KK-038', 'KB-061',
       'OT-009', 'FL-016', 'MS-073', 'AC-050', 'RM-053', 'RM-054',
       'RM-055', 'SL-002', 'KB-072', 'RM-056', 'SL-016', 'KB-074',
       'LM-019', 'MS-074', 'AC-051', 'KB-058'], dtype=object)

In [72]:
# Missing values details

df_missing['internal_reference'].value_counts()

internal_reference
AC-007    30
AC-006    29
OT-001    13
LM-004     8
SK-015     6
LQ-007     6
LM-005     4
SK-016     4
LQ-008     3
BN-019     3
BN-026     2
BN-024     2
BN-018     2
NP-003     2
KB-072     1
OT-009     1
RM-056     1
SL-002     1
RM-055     1
SL-016     1
RM-054     1
KB-074     1
LM-019     1
MS-074     1
AC-051     1
RM-053     1
AC-050     1
MS-073     1
FL-016     1
AC-031     1
KB-061     1
KK-038     1
MS-072     1
MS-071     1
BX-008     1
RM-031     1
KB-059     1
AC-020     1
BX-007     1
PR-054     1
NP-007     1
KB-033     1
FL-008     1
SL-007     1
LQ-004     1
KB-058     1
Name: count, dtype: int64